In [4]:
import pandas as pd
df = pd.read_csv("D:\\testpython\\baithuchanh1\\databanvang.csv")
df

  Ngày  Giá vàng bán ra  Giá vàng mua vào
0  1/3               46              45.0
1  2/3               47              46.0
2    1               46              45.5
3  4/3               45              44.5
4  5/3               46              45.0
5    2               46              45.5
6  7/3               45              44.5

In [14]:
import pandas as pd
df1 = pd.read_excel('datavipham.xlsx')
df1

  Tên sinh viên  Vắng lý thuyết  Vắng thực hành  Không nộp bài
0         Trung               3               2              0
1          Cảnh               5               1              3
2           Bảo               1               0              0
3          Quốc               0               0              2
4          Tùng               2               1              1

In [13]:
import pandas as pd
# Lọc những sinh viên không nộp bài
not_submitted = df1.loc[df1['Không nộp bài'] != 0]
not_submitted

  Tên sinh viên  Vắng lý thuyết  Vắng thực hành  Không nộp bài
1          Cảnh               5               1              3
3          Quốc               0               0              2
4          Tùng               2               1              1

In [15]:
import pandas as pd
#lọc những sinh viên vắng cả lý thuyết lẫn thực hành
absen = df1.loc[(df1['Vắng lý thuyết'] != 0) & (df1['Vắng thực hành'] != 0)]
absen

  Tên sinh viên  Vắng lý thuyết  Vắng thực hành  Không nộp bài
0         Trung               3               2              0
1          Cảnh               5               1              3
4          Tùng               2               1              1